<div class="container">
  <div class="user-wrapper">
    <form class="example-form" [formGroup]="registerForm">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="form-title">Register New User</div>
          </div>
          <div class="col-md-6">
            <div class="form-field">
              <mat-label class="label">Name</mat-label>
              <mat-form-field class="example-full-width form-input" appearance="fill">
                <input id="name" name="name" type="text" matInput placeholder="John Doe" formControlName="name"
                  required>
                <mat-error *ngIf="f['name'].errors?.['required']">
                  <div>Name is required</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <mat-label>Email</mat-label>
            <mat-form-field class="example-full-width form-input" appearance="fill">
              <input type="text" matInput placeholder="example@domain.com" formControlName="email" required>
              <mat-error *ngIf="f['email'].errors?.['required']">
                <div>Email is required</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-field">
              <mat-label>Phone</mat-label>
              <mat-form-field class="example-form-field form-input" appearance="fill">
                <input type="email" matInput placeholder="+91-012345678" formControlName="phone" required>
                <mat-error *ngIf="f['phone'].errors?.['required']">
                  <div>Phone is required</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <mat-label>Website</mat-label>
            <mat-form-field class="example-full-width form-input" appearance="fill">
              <input type="email" matInput placeholder="example.com" formControlName="website">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="create">
        <button class="create-btn" (click)="register()" type="submit">Create User</button>
      </div>
    </form>
    <app-user-list-cards [mode]="mode" (editEvent)="editUser($event)" [userData]="userData"></app-user-list-cards>
  </div>

</div>